body{
    background: #1840ad; 
}
.c{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
form{
    background: #fff(0, 0, 0, 0.3);
    padding: 3rem;
    height: 320px;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
}
form p{
    font-weight: bold;
    color: #fff;
    opacity: 0.7;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 60px;
}
form a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
}
form a:hover{
    text-shadow: 2px 2px 6px #ffffff;

}
form a:active{
    text-shadow: none;
}
form input{
    background: transparent;
    width: 200px;
    padding: 1rem;
    margin-bottom: 2rem;
    border: none;
    border-left:  1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(177, 175, 175, 0.2);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #ffffff;
    font-weight: bold;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
form input:hover{
    background: rgba(6, 89, 243, 0.1);
    box-shadow:  4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}
form input[type="email"]:focus,
form input[type="email"]:focus{
    color: #ffffff;
    background: rgba(255, 238, 238, 0.1);
    box-shadow: 4px 4px 60px 8px#fff(0, 0, 0, 0.2);
}

form input[type="button"]{
    margin-top: 10px;
    width: 150px;
    font-size: 1rem;
    background: linear-gradient(to right, rgb(10, 14, 233),
    rgb(10, 14, 233), rgb(255, 255, 255)
}
